<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<!-- Mobile Compatibility -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Materialize CSS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<!-- Google Fonts Link -->
		<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
		<!-- Materialize Icons Link -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<title> Mongo News Scraper </title>
	</head>

	<body>

		{{{ body }}}

		<script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
		<script type="text/javascript" src="/assets/javascript/app.js"></script>

	</body>

</html>